*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}
nav {
  padding: 10px 0 15px 15px;
  width: 420px;
  background-color: #3C3C40;
}
h1 {
  font-size: 20px;
  background-color: #3C3C40;
  text-align: center;
  margin-top: 0px;
}
h3 {
  font-weight: 500;
  display: inline;
}
.container {
  margin: 0 auto;
  width: 420px;
  color: white;
}
.route-list {
  padding-top: 45px;
}
.location {
  background-color: #2F5F76;
  padding: .1%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.location:hover {background-color: #89AEB3;
}
.content:hover{background-color: #89AEB3;
}
.content {
  width: 100%;
  background-color: #2F5F76;
}
.route{
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  font-size: 16px;
}
.menu{
  font-size: 20px;
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 10px;
}
.arrow2{
  padding-top: 6%;
  padding-right: 4%;
}
