*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background-color: #333;
  font-family: -apple-system, BlinkMacSystemFont;
  font-size: 16px;
}
nav {
  padding: 10px 0 15px 15px;
  width: 420px;
  background-color: #4E9099;
  background-size: 420px;
}
h1 {
  font-size: 20px;
  background-color: #4E9099;
  text-align: center;
}
h2 {
  font-size: 18px;
  background-color: #417F88;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top:10px;
  padding-bottom:10px;

}

h3 {
  font-weight: 500;
  display: inline;
}
h4 {
  font-size: 20px;
  font-weight: 450;
  margin-top: -15px;
  margin-left: 10px;
}
h5 {
  font-size: 18px;
  font-weight: lighter;
  margin-top: -25px;
  margin-left: 10px;
  margin-bottom: 10px;
}
p {
  font-size: 24px;
  text-decoration: underline;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 4px
}
.destination {
  text-align: center;
  font-size: 20px;
}
.arrow-left{
  margin-bottom: -49px;
  padding-top: 40px;
}
.container {
  margin: 0 auto;
  width: 420px;
  color: white;
}
.route-list {
  padding-top: 45px;
}
.location {
  background-color: #417F88;
  padding-top: 0px;
  width: 420px;
  justify-content: space-between;
}
.location:hover {
  background-color: #89AEB3;
}
.content:hover{
  background-color: #89AEB3;
}
.content {
  width: 100%;
  background-color: #02B3CC;
  border-top: 1px solid #4E9099;
}
.route{
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 18px;
  margin-top: -25px;
}
.menu{
  font-size: 20px;
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 10px;
}
.arrow2{
margin-left: 390px;
margin-top: -80px;
padding-bottom: 24px;
}
.arrow1{
margin-left: 390px;
margin-top: -50px;
padding-bottom: 24px;
}
.fa-chevron-right{
  margin-top: -5px;
  margin-bottom: 20px;
  margin-right: 10px;
  color: white;
}
.status-bar{
  width: 434px;
  margin-left: -14px;
  margin-bottom: -38px;
}
